<!--TODO split into more components-->
<!--List of Recipes-->
<ng-template [ngIf]="recipeList && recipeList.length">
  <div class="flex flex-row flex-wrap">
    <!--Single Recipe-->
    <div
      *ngFor="
        let recipe of recipeList.list | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize
      "
      class="block px-1 w-3/12 mb-2"
    >
      <div class="flex flex-col border-[1px] border-gray-100 h-full">
        <div
          class="w-full block h-36 bg-no-repeat bg-center bg-cover"
          [style.background-image]="'url(' + recipe.image_url + ')'"
        ></div>
        <div class="block px-2 grow">
          <h2 class="text-xl font-semibold my-2">
            {{ recipe.locale | localizedTitle: lang.language : recipe.name }}
          </h2>
          <div class="inline-flex items-center mb-3">
            <!--preparation time-->
            <div
              *ngIf="recipe.preparation_time && recipe.preparation_time > 0"
              class="inline-flex items-center mr-6"
            >
              <mat-icon fontIcon="schedule" class="mr-1"></mat-icon>
              <span class="text-sm text-gray-500 font-medium">
                {{ recipe.preparation_time + ' ' + locale[lang.language].MINUTES }}
              </span>
            </div>
            <!--calories-->
            <div *ngIf="recipe.calories && recipe.calories > 0" class="inline-flex items-center">
              <mat-icon fontIcon="info" class="mr-1"></mat-icon>
              <span class="text-sm text-gray-500 font-medium">
                {{ recipe.calories + ' kcal' }}
              </span>
            </div>
          </div>
          <div class="flex flex-wrap gap-1 mb-4">
            <!--selected = available (green)-->
            <span
              *ngFor="let selectIngredient of recipe.selectedIngredients"
              class="inline-flex items-center gap-1 bg-green-600 text-gray-50 rounded-md px-2 py-1 text-xs font-medium"
            >
              {{ selectIngredient.locale[lang.language] }}
            </span>
            <!--required = unavailable (red)-->
            <span
              *ngFor="let requestIngredient of recipe.requiredIngredients"
              class="inline-flex items-center gap-1 bg-red-500 text-white rounded-md px-2 py-1 text-xs font-medium"
            >
              {{ requestIngredient.locale[lang.language] }}
            </span>
            <!--optional = don't need (orange)-->
            <span
              *ngFor="let requestIngredient of recipe.optionalIngredients"
              class="inline-flex items-center gap-1 bg-amber-300 text-white rounded-md px-2 py-1 text-xs font-medium"
            >
              {{ requestIngredient.locale[lang.language] }}
            </span>
          </div>
        </div>
        <!--link-->
        <a
          [href]="recipe.link"
          target="_blank"
          class="w-full text-white flex flex-row justify-center items-center bg-blue-900 py-2"
          rel="noreferrer noopener"
        >
          <mat-icon fontIcon="link"></mat-icon>
          <span class="inline-block ml-2">{{ locale[lang.language].Link }}</span>
        </a>
      </div>
    </div>
  </div>
  <!--Paginator-->
  <mat-paginator
    #paginator
    [length]="recipeList.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [hidePageSize]="true"
    (page)="onPage($event)"
  ></mat-paginator>
</ng-template>

<!--Empty Recipe list result-->
<ng-template [ngIf]="recipeList && !recipeList.length">
  <div class="block w-full bg-blue-100 text-blue-700 rounded p-5">
    <p class="text-medium">{{ locale[lang.language].EmptySearchResult }}</p>
  </div>
</ng-template>
