<div [class]="['block', 'relative', 'w-full']">
  <div [class]="['flex', 'rounded-md']">
    <input
      [formControl]="inputValue"
      [placeholder]="placeholder"
      [class]="[
        'block',
        'flex-1',
        'w-full',
        'p-4',
        'bg-transparent',
        'text-gray-900',
        'h-12',
        'outline-0'
      ]"
    />
  </div>
  <div
    class="absolute border-2 bg-white left-0 top-27-px overflow-y-auto h-auto max-h-96 w-full shadow-lg"
    [class.hidden]="!suggestions.length"
    [class.block]="suggestions.length"
  >
    <!-- Beware: locale is used fo specific use-case -->
    <div
      *ngFor="let suggestion of suggestions"
      (click)="select(suggestion)"
      [class]="['p-4', 'cursor-pointer', 'hover:bg-gray-200']"
    >
      {{ searchProp ? suggestion[searchProp][lang.language] : suggestion }}
    </div>
  </div>
</div>
