<div class="block">
  <!-- List of selected ingredients -->
  <div class="flex flex-wrap mb-2 gap-1">
    <span
      *ngFor="let ingredient of selectedList"
      class="inline-flex items-center rounded-md gap-1 bg-amber-500 px-2 py-1 text-xs font-medium text-amber-50"
    >
      {{ ingredient.locale[langService.language] }}
      <i
        class="fa-solid fa-xmark cursor-pointer block"
        (click)="changeState(ingredient, false)"
      ></i>
    </span>
  </div>

  <!-- Search bar -->
  <div class="flex relative gap-2 bg-gray-200 rounded p-1 px-2 shadow-sm">
    <ng-autocomplete
      class="w-full"
      [placeholder]="locale[langService.language].SearchIngredient"
      searchProp="locale"
      (onSelect)="onSelect($event)"
    ></ng-autocomplete>
    <!-- List button -->
    <button
      [class]="[
        'rounded',
        'bg-transparent',
        'text-gray-950',
        'outline-0',
        'py-1.5',
        'px-2',
        'inline-flex',
        'gap-1',
        'items-center',
        'text-sm',
        'font-medium',
        'hover:bg-gray-950',
        'hover:text-white'
      ]"
      (click)="isModalActive = true"
    >
      <span><i class="fa-solid fa-list"></i></span>
      <span>{{ locale[langService.language].ListButton }}</span>
    </button>
    <!-- Search button -->
    <button
      [class]="[
        'rounded',
        'outline-0',
        'py-1',
        'px-5',
        'inline-flex',
        'items-center',
        'justify-center',
        'text-sm',
        'font-medium',
        'bg-gray-950',
        'text-white'
      ]"
      (click)="searchRecipe()"
    >
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    </button>
  </div>
</div>

<!--Modal(Categories)-->
<div
  class="bg-opacity-70 bg-gray-600 fixed w-full h-full z-10 overflow-hidden top-0 left-0 right-0 bottom-0 justify-center items-center"
  [ngClass]="{ flex: isModalActive, hidden: !isModalActive }"
>
  <div
    class="flex flex-col w-[70%] max-h-[90%] bg-white relative text-left rounded-lg shadow-lg border-0"
  >
    <!-- Header -->
    <div class="relative min-h-[50px] px-8 pe-12 py-5">
      <!-- Close -->
      <div
        class="absolute right-5 top-3 w-8 h-8 flex items-center justify-center cursor-pointer"
        (click)="isModalActive = false"
      >
        <i class="fa-regular fa-circle-xmark fa-2xl"></i>
      </div>
    </div>
    <!-- Content -->
    <div class="relative overflow-y-auto px-8 py-8">
      <div *ngFor="let category of categoryList; last as icLast" [class.mb-3]="!icLast">
        <h2 class="font-bold text-lg mb-1">{{ category.locale[langService.language] }}</h2>
        <div class="gap-2 flex-wrap flex">
          <span
            *ngFor="let ingredient of category.ingredientCategoryRels"
            role="button"
            class="cursor-pointer rounded-lg inline-flex px-2 py-1 text-xs font-medium border-transparent border-0 outline-0 mb-0 select-none"
            [ngClass]="{
              'text-amber-50 bg-amber-500': ingredient.selected,
              'text-gray-900 bg-gray-100': !ingredient.selected
            }"
            (click)="changeState(ingredient, !ingredient.selected)"
          >
            {{ ingredient.locale[langService.language] }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
