<ul>
  @for (item of list; track item; let idx = $index) {
  <li class="flex flex-row items-center justify-between">
    <!--Use default item from list, or change it with service-->
    <ng-template [ngIf]="dataService">
      <mat-checkbox>{{ dataService.getLabel(item) }}</mat-checkbox>
    </ng-template>
    <ng-template [ngIf]="!dataService">
      <mat-checkbox>{{ item }}</mat-checkbox>
    </ng-template>
    <mat-icon
      aria-hidden="false"
      aria-label="Delete"
      fontIcon="delete"
      class="cursor-pointer text-red-600"
      (click)="remove(list, idx)"
    ></mat-icon>
  </li>
  }
</ul>
<ng-autocomplete
  *ngIf="showAutocomplete && autocompleteList && autocompleteList.length"
  inputClassName="rounded border"
  [list]="autocompleteList"
  searchProp="locale"
  [placeholder]="locale[langService.language]['IngredientName']"
  (onSelect)="select(list, $event)"
/>
