<h2 mat-dialog-title>{{ locale[languageService.language].DialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="fieldNameFormGroup">
    <div class="block">
      <label for="name" class="block text-black mb-1">
        {{ locale[languageService.language].Label }}
      </label>
      <input
        id="name"
        type="text"
        class="block rounded border outline-none leading-tight appearance-none p-3"
        [class.border-red-700]="
          fieldNameFormGroup.controls.name.invalid && fieldNameFormGroup.controls.name.touched
        "
        formControlName="name"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="mx-4 w-full">
    <button mat-dialog-close type="button" class="inline-block button-secondary mr-2">
      {{ generalLocale | translate: 'Close' : languageService.language }}
    </button>
    <button type="button" class="inline-block button-primary" (click)="create()">
      {{ generalLocale | translate: 'Add' : languageService.language }}
    </button>
  </div>
</mat-dialog-actions>
