<ng-container *ngIf="dataCollectionDetail as dataCollection">
  <!--breadcrumb-->
  <ng-breadcrumb [pageList]="getBreadcrumbPageList(dataCollection.title)" />
  <!--content-->
  <div class="py-9">
    <div class="flex flex-row justify-start items-center mb-4">
      <h2 class="text-4xl font-medium">
        {{
          dataCollection.titleLocale
            | localizedTitle: languageService.language : dataCollection.title
        }}
      </h2>
    </div>
    <!--link to the page-->
    <div class="inline-flex items-center">
      <mat-icon fontIcon="link" class="text-blue-400"></mat-icon>
      <a
        [href]="dataCollection.url"
        target="_blank"
        rel="noreferrer noopener"
        class="ml-3 underline"
      >
        {{ locale[languageService.language].RecipeLink }}
      </a>
    </div>
    <!---->
    <hr class="my-5" />
    <!--Create Form Control Button-->
    <div class="block text-right w-full my-6">
      <button
        type="button"
        class="rounded inline-block px-2 py-1 bg-black text-white font-medium"
        (click)="openCreateFormControlDialog()"
      >
        {{ locale[languageService.language].CreateFormControlButtonLabel }}
      </button>
    </div>
    <!--Render all FormControl from FormGroup-->
    <form class="block" [formGroup]="dataCollectionFormGroup">
      <app-text-data-field
        *ngFor="let control of formControlConfiguration"
        [title]="control.formControlLabel"
        [formControlName]="control.formControlName"
        [customActionList]="control.formControlCustomAction"
      />
    </form>
    <!---->
    <div class="mt-6 text-right">
      <button
        type="button"
        class="rounded bg-green-700 text-white cursor-pointer font-medium py-2 px-3 mr-2"
        (click)="approveData()"
      >
        {{ generalLocale | translate: 'Approve' : languageService.language }}
      </button>
      <button
        type="button"
        class="rounded bg-red-700 text-white cursor-pointer font-medium py-2 px-3 mr-2"
        (click)="deleteData()"
      >
        {{ locale[languageService.language].DeleteDataButtonLabel }}
      </button>
      <button
        type="button"
        class="rounded bg-blue-700 text-white cursor-pointer font-medium py-2 px-3"
        (click)="save()"
      >
        {{ generalLocale | translate: 'Save' : languageService.language }}
      </button>
    </div>
  </div>
</ng-container>
