<div class="page-container">
  <!--breadcrumb-->
  <ng-breadcrumb [pageList]="getBreadcrumbPageList(recipeTitle)" />
  <!--content-->
  <div class="py-9">
    <div class="flex flex-row justify-start items-center mb-4">
      <h2 class="text-4xl font-medium">
        {{ recipeLocalizedTitle | localizedTitle: languageService.language : recipeTitle }}
      </h2>
    </div>
    <!--link to the page-->
    <div class="inline-flex items-center">
      <mat-icon fontIcon="link" class="text-blue-400"></mat-icon>
      <a [href]="recipeURL" target="_blank" rel="noreferrer noopener" class="ml-3 underline">
        {{ locale[languageService.language].RecipeLink }}
      </a>
    </div>

    <!---->
    <hr class="my-5" />

    <!--Render all FormControl from FormGroup-->
    <form class="block" [formGroup]="formGroup">
      <ng-template ngFor let-control [ngForOf]="formControlConfiguration">
        <!--Calories, Cooking Time-->
        <ng-container
          *ngIf="control.propertyName === 'calories' || control.propertyName === 'cookingTime'"
        >
          <app-number-field
            [title]="control.title"
            [formControlName]="control.propertyName"
            [customActionList]="control.customAction"
          />
        </ng-container>
        <!--URL, Title, Image-->
        <ng-container
          *ngIf="
            control.propertyName === 'title' ||
            control.propertyName === 'url' ||
            control.propertyName === 'image' ||
            control.propertyName === 'ingredients' ||
            control.propertyName === 'optionalIngredients' ||
            control.propertyName === 'requiredIngredients'
          "
        >
          <app-text-field
            [title]="control.title"
            [formControlName]="control.propertyName"
            [customActionList]="control.customAction"
          />
        </ng-container>
      </ng-template>
    </form>

    <!---->
    <div class="mt-6 text-right">
      <button
        type="button"
        class="rounded bg-green-700 text-white cursor-pointer font-medium py-2 px-3 mr-2"
        (click)="approveData()"
      >
        {{ generalLocale | translate: 'Approve' : languageService.language }}
      </button>
      <button
        type="button"
        class="rounded bg-red-700 text-white cursor-pointer font-medium py-2 px-3 mr-2"
        (click)="deleteData()"
      >
        {{ locale[languageService.language].DeleteDataButtonLabel }}
      </button>
      <button
        type="button"
        class="rounded bg-blue-700 text-white cursor-pointer font-medium py-2 px-3"
        (click)="save()"
      >
        {{ generalLocale | translate: 'Save' : languageService.language }}
      </button>
    </div>
  </div>
</div>
